<!--
	SMTP setup for sending of e-mails.
-->
<smtp deliveryMethod= "network" from="admin@shubhcomputing.com">
  <network host="mail.shubhcomputing.com" port="25" userName="admin@shubhcomputing.com" password="VF7$L1ia" defaultCredentials="true" />
</smtp>
<!--<smtp deliveryMethod="network" from="no-reply@shubhcomputing.com">
  <network host="localhost" port="25" defaultCredentials="true" />
</smtp>-->
<!-- Use this setting for development: pickup directory must be exact path -->
<!--<smtp deliveryMethod="SpecifiedPickupDirectory">
  <specifiedPickupDirectory pickupDirectoryLocation="C:\Inetpub\wwwroot\email" />
</smtp>-->
