<connectionStrings>
  <!--<add name="cn" connectionString="Data Source=GAURAVARORA\SQLEXPRESS;Initial Catalog=I-93275_SHUBHCLIENT;Integrated Security=True" providerName="System.Data.SqlClient"/>-->

  <add name="cn" connectionString="Server=216.151.174.24;Database=I-93275_SHUBHCLIENT;Uid=ShubhAdmin;Password=Gaurav!@#;" />
</connectionStrings>
