<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="msdnh.Common.Data.MsDotnetHeaven.Properties.Settings.msdnhConnectionString" connectionString="Data Source=localhost;Initial Catalog=msdnh;User ID=sa" providerName="System.Data.SqlClient"/>
    <add name="msdnh.Common.Data.MsDotnetHeaven.Properties.Settings.MSDNHConnectionString1" connectionString="Data Source=shuby\shuby;Initial Catalog=MSDNH;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
